<h3 class="title">Create new user</h3>

<div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p>
        <%= f.label :email %>
        <em>(unique)</em><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :nickname %>
        <em>(3 characters minimum, unique)</em><br />
        <%= f.text_field :nickname, autocomplete: "off" %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </p>
    </div>

    <div class="actions">
      <p>
        <%= f.submit "Create", class: "btn-submit btn-primary" %>
      </p>
    </div>
  <% end %>
</div>
