<% status = game.status %>
<% ended = status == "ended" %>
<% player1_id = game.player1_id %>
<% player2_id = game.player2_id %>

<tr>
  <td><%= game.id %></td>
  <td>
    <% if ended %>
      <% if player1_id == game.winner_id %>
        <span style="color: green;">
      <% else %>
        <span style="color: red;">
      <% end %>
    <% end %>
    <%= User.find(player1_id).nickname %>
    <% if ended %>
      </span>
    <% end %>
    <% unless player2_id.nil? %>
      vs
      <% if ended %>
        <% if player2_id == game.winner_id %>
          <span style="color: green;">
        <% else %>
          <span style="color: red;">
        <% end %>
      <% end %>
      <%= User.find(player2_id).nickname %>
      <% if ended %>
        </span>
      <% end %>
    <% end %>
  </td>
  <td style="color: <%= @status_color[status] %>;">
    <%= status.capitalize %>
  </td>
  <td>
    <% if game.include_player?(current_user.id) %>
      <%= link_to status == "ended" ? "View" : "Continue", game_path(game) %>
    <% elsif status == "pending" %>
      <span style="text-decoration: underline;">
        <%= link_to "Join game", join_game_path(game) %>
      </span>
    <% end %>
  </td>
  <td>
    <%= game.created_at.to_s[0..15].insert(10, ' -') %>
  </td>
</tr>
