<% status = game.status %>

<tr>
  <td><%= game.id %></td>
  <td>
    <%= User.find(game.player1_id).nickname %>
    <% unless game.player2_id.nil? %>
      <%= "vs #{User.find(game.player2_id).nickname}" %>
    <% end %>
  </td>
  <td style="color: <%= @status_color[status] %>;">
    <%= status.capitalize %>
  </td>
  <td>
    <% if game.include_player?(current_user.id) %>
      <%= link_to status == "ended" ? "View" : "Continue", game_path(game) %>
    <% elsif status == "pending" %>
      <span style="text-decoration: underline;">
        <%= link_to "Join game", join_game_path(game) %>
      </span>
    <% end %>
  </td>
  <td>
    <%= game.created_at.to_s[0..15].insert(10, ' -') %>
  </td>
</tr>
