<p>
  Game id: <%= game.id %>,
  status: <%= game.status %>
  <% if game.include_player?(current_user.id) %>
    <%= link_to game.status == "ended" ? "View" : "Continue", game_path(game) %>
  <% end %>
  <br>
  <%= User.find(game.player1_id).nickname %>
  vs
  <% unless game.player2_id.nil? %>
    <%= User.find(game.player2_id).nickname %>
  <% else %>
    <% if current_user.id != game.player1_id %>
      <%= link_to "Join game", join_game_path(game) %>
    <% end %>
  <% end %>
</p>
